/**
 * style for Chat Room
 */

.chat-room-box.ui.modal {
  border-radius: 0.2em;

  > .inner {
    .header {
      border-top-left-radius: 0.2em;
      border-top-right-radius: 0.2em;
      margin-top: 0;

      > .inner {
        display: flex;
        align-items: center;

        .box1 {
          flex: 1;
          overflow: hidden;

          .intro {
            opacity: 0.5;
          }

          > div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        > .icon {
          cursor: pointer;
        }
      }
    }

    .segment {
      border-bottom-left-radius: 0.2em;
      border-bottom-right-radius: 0.2em;

      .chat-panel {
        height: 12em;
        position: relative;
  
        .ui.message {
          height: 100%;
        }

        .ops-box {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2em;
          border-top: 1px solid #D4D4D5;
          display: flex;
          align-items: center;
          padding: 0 0.5em;

          > .icon {
            cursor: pointer;
          }
        }
      }
  
      .chat-input {
        margin-top: 1em;
        height: 10em;
  
        .ui.form {
          height: 100%;
  
          textarea {
            height: 100%;
            resize: none;
          }
        }
      }
  
      > button {
        margin-top: 1em;
      }
    }
  }
}
