/**
 * style for Chat Room
 */

.chat-room-box.ui.modal {
  border-radius: 0.2em;

  > .inner {
    .header {
      border-top-left-radius: 0.2em;
      border-top-right-radius: 0.2em;
      margin-top: 0;

      > .inner {
        display: flex;
        align-items: center;

        .box1 {
          flex: 1;
          overflow: hidden;

          .name {
            > .icon {
              margin-right: 0.5em;
            }
          }

          .intro {
            opacity: 0.5;
          }

          > div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        > .icon {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }

    .segment {
      border-bottom-left-radius: 0.2em;
      border-bottom-right-radius: 0.2em;

      .chat-panel {
        height: 12em;
        display: flex;
        flex-direction: column;

        .msg-wrapper {
          flex: 1;
          overflow: hidden;

          .ui.message {
            height: 100%;
            border-radius: 0;
            margin: 0;
            padding: 0;

            > .inner {
              height: 100%;
              overflow: auto;

              p {
                margin: 0;
                padding: 0.5em 1em;
              }
              p:first-child {
                padding-top: 1em;
              }
              p:last-child {
                padding-bottom: 1em;
              }
            }
          }

          .ui.sidebar {
            width: 100%;
            height: 100%;
            background-color: #E0E1E2;
            border: 1px solid #D4D4D5;

            > .inner {
              height: 100%;
              overflow: auto;

              p {
                margin: 0;
                padding: 0.5em 1em;
              }
              p:first-child {
                padding-top: 1em;
              }
              p:last-child {
                padding-bottom: 1em;
              }
            }
          }
        }

        .ops-box {
          width: 100%;
          height: 2em;
          border: 1px solid #D4D4D5;
          border-top: none;
          display: flex;
          align-items: center;
          padding: 0 0.5em;

          > .icon {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
  
      .chat-input {
        margin-top: 1em;
        height: 10em;
  
        .ui.form {
          height: 100%;
  
          textarea {
            height: 100%;
            resize: none;
            border-radius: 0;
          }
        }
      }
  
      > button {
        margin-top: 1em;
        border-radius: 0;
      }
    }
  }
}
